@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <NotAuthorized>
        <a href="auth/google-login" class="btn btn-secondary"> Login With Google</a>
    </NotAuthorized>
    <Authorized>
        Hello world!

@*        <a href="auth/google-logout" class="btn btn-secondary"> Log out</a>*@
    </Authorized>
</AuthorizeView>

